<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Reserve</string>
    <key>CFBundleExecutable</key>
    <string>Reserve</string>
    <key>CFBundleIdentifier</key>
    <string>com.pocarles.reserve</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Reserve</string>
    <key>CFBundleIconFile</key>
    <string>Reserve</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Pierre-Olivier Carles</string>
    <key>SUAllowsAutomaticUpdates</key>
    <false/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/pocarles/reserve/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>u5A0oU1W4GI181ZhpdgiHp67L3accNISf8oJD9kNMbk=</string>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>SUSendProfileInfo</key>
    <false/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
</dict>
</plist>
